body{
    margin: 0px;
    height: 100%;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(242, 242, 242);
    
}

main{
    min-height: 100%;
    display: flex;
    flex-direction:column ;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
}

header a{
    margin-left: 40px;
    text-decoration: none;
    color: black;
}

header a:hover{
    color: #2563eb;
}

.hero{
    background-color:#6490ee;
    color: white;
    padding: 10px 24px 40px;
}

.hero h1{
    display: flex;
    flex-direction: column;
}

.hero button{
    margin-right: 40px;
    color: black;
    padding: 10px 30px;
    border-radius: 50px;
    border:none;
    cursor: pointer;
}
.hero button:hover{
    transform: scale(1.10);
    background-color: #38bedd;
    color:white;
}
.hero p{
    padding-bottom: 10px;
}

.info{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info p{
    width: 50%;
    text-align: center;
    align-items: center;
    margin-bottom: 67px;
}

footer{
    margin-top: auto;
    text-align: center;
    background-color: #625f5f8c;
    padding:5px;

}
