/* Apply to all pages */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.hero {
  flex: 1;
  background-color: #6ca0ff;
  padding: 40px 0;
  text-align: center;
  color: white;
}

.hero-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.hero-buttons button {
  background-color: white;
  color: black;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
}

.info {
  flex: 1;
  padding: 40px 20px;
  text-align: center;
}

footer {
  margin-top: auto;
  background-color: #625f5f8c;
  padding: 5px;
  text-align: center;
}

.header {
  position: absolute;
  top: 20px;
  right: 20px;
}

.header a {
  margin-left: 10px;
  text-decoration: none;
  color: #333;
}
